# Data Overview

In [82]:
# --- Standard Imports
import os
from pathlib import Path
import yaml
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [83]:
# directory with raw CSV files
data_dir = Path("../data/raw")

# list all CSV files
csv_files = list(data_dir.glob("*.csv"))
print(f"Found CSV files: {[f.name for f in csv_files]}")

Found CSV files: ['DM_AIAI_CustomerDB.csv', 'DM_AIAI_Metadata.csv', 'DM_AIAI_FlightsDB.csv']

In [84]:
# specify the files we want to load

customers_file = data_dir / "DM_AIAI_CustomerDB.csv"
flights_file   = data_dir / "DM_AIAI_FlightsDB.csv"

# load them with pandas
customers = pd.read_csv(customers_file)
flights   = pd.read_csv(flights_file)

print("Customers shape:", customers.shape)
print("Flights shape:", flights.shape)

Customers shape: (16921, 21)
Flights shape: (608436, 10)

In [85]:
# display the first few rows of each dataframe
display(customers.head())
display(flights.head())

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,J8Y 3Z5,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

,Loyalty#,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
0,413052,2021,12,12/1/2021,2.0,2.0,9384.0,938.0,0.0,0.0
1,464105,2021,12,12/1/2021,0.0,0.0,0.0,0.0,0.0,0.0
2,681785,2021,12,12/1/2021,10.0,3.0,14745.0,1474.0,0.0,0.0
3,185013,2021,12,12/1/2021,16.0,4.0,26311.0,2631.0,3213.0,32.0
4,216596,2021,12,12/1/2021,9.0,0.0,19275.0,1927.0,0.0,0.0

In [86]:
# Rename first column of customers to "index" and datatype int
customers.rename(columns={customers.columns[0]: "index"}, inplace=True)
customers["index"] = customers["index"].astype(int)

#Rename second column Loyalty# to Loyalty
customers.rename(columns={customers.columns[1]: "Loyalty"}, inplace=True)
#Rename second column Loyalty# to Loyalty
flights.rename(columns={flights.columns[0]: "Loyalty"}, inplace=True)

In [87]:
# Basic statistics

print("CustomerDB basic info:")
print(customers.info())

CustomerDB basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16921 entries, 0 to 16920
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    16921 non-null  int64
 1   Loyalty                  16921 non-null  int64
 2   First Name               16921 non-null  object
 3   Last Name                16921 non-null  object
 4   Customer Name            16921 non-null  object
 5   Country                  16921 non-null  object
 6   Province or State        16921 non-null  object
 7   City                     16921 non-null  object
 8   Latitude                 16921 non-null  float64
 9   Longitude                16921 non-null  float64
 10  Postal code              16921 non-null  object
 11  Gender                   16921 non-null  object
 12  Education                16921 non-null  object
 13  Location Code            16921 non-null  object
 14  Income                   16901 non-null  float64
 15  Marital Status           16921 non-null  object
 16  LoyaltyStatus            16921 non-null  object
 17  EnrollmentDateOpening    16921 non-null  object
 18  CancellationDate         2310 non-null   object
 19  Customer Lifetime Value  16901 non-null  float64
 20  EnrollmentType           16921 non-null  object
dtypes: float64(4), int64(2), object(15)
memory usage: 2.7+ MB
None

In [88]:
# Display basic statistics
print("\nFlightsDB basic info:")
print(flights.info())

FlightsDB basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608436 entries, 0 to 608435
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Loyalty                   608436 non-null  int64
 1   Year                      608436 non-null  int64
 2   Month                     608436 non-null  int64
 3   YearMonthDate             608436 non-null  object
 4   NumFlights                608436 non-null  float64
 5   NumFlightsWithCompanions  608436 non-null  float64
 6   DistanceKM                608436 non-null  float64
 7   PointsAccumulated         608436 non-null  float64
 8   PointsRedeemed            608436 non-null  float64
 9   DollarCostPointsRedeemed  608436 non-null  float64
dtypes: float64(6), int64(3), object(1)
memory usage: 46.4+ MB
None

In [89]:
# Check for missing values
print("Missing values in CustomerDB:")
display(customers.isna().sum())

print("\nMissing values in FlightsDB:")
display(flights.isna().sum())

Missing values in CustomerDB:

index                          0
Loyalty                        0
First Name                     0
Last Name                      0
Customer Name                  0
Country                        0
Province or State              0
City                           0
Latitude                       0
Longitude                      0
Postal code                    0
Gender                         0
Education                      0
Location Code                  0
Income                        20
Marital Status                 0
LoyaltyStatus                  0
EnrollmentDateOpening          0
CancellationDate           14611
Customer Lifetime Value       20
EnrollmentType                 0
dtype: int64

Missing values in FlightsDB:

Loyalty                     0
Year                        0
Month                       0
YearMonthDate               0
NumFlights                  0
NumFlightsWithCompanions    0
DistanceKM                  0
PointsAccumulated           0
PointsRedeemed              0
DollarCostPointsRedeemed    0
dtype: int64

In [90]:
missing_ratio = customers.isna().mean().sort_values(ascending=False)
print((missing_ratio * 100).round(2))

CancellationDate           86.35
Customer Lifetime Value     0.12
Income                      0.12
index                       0.00
Gender                      0.00
EnrollmentDateOpening       0.00
LoyaltyStatus               0.00
Marital Status              0.00
Location Code               0.00
Education                   0.00
Postal code                 0.00
Loyalty                     0.00
Longitude                   0.00
Latitude                    0.00
City                        0.00
Province or State           0.00
Country                     0.00
Customer Name               0.00
Last Name                   0.00
First Name                  0.00
EnrollmentType              0.00
dtype: float64

In [91]:
# rows where Income is missing
missing_income = customers[customers["Income"].isna()]
print("Rows with missing Income:", missing_income.shape[0])
display(missing_income)

# rows where Customer Lifetime Value is missing
missing_clv = customers[customers["Customer Lifetime Value"].isna()]
print("Rows with missing Customer Lifetime Value:", missing_clv.shape[0])
display(missing_clv)

Rows with missing Income: 20

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
16901,0,999987,Layla,Murphy,Layla Murphy,Canada,New Brunswick,Fredericton,46.029263,-66.565150,R4H 2Y2,female,Bachelor,Urban,NaN,Single,Star,3/7/2017,3/7/2017,NaN,Standard
16902,1,999988,Jana,Parker,Jana Parker,Canada,Quebec,Montreal,45.573672,-73.523012,N6B 1N3,male,College,Rural,NaN,Single,Star,8/22/2017,8/22/2017,NaN,Standard
16903,2,999989,Ethan,Parker,Ethan Parker,Canada,Ontario,Trenton,44.075379,-77.550375,P8F 5C8,male,College,Rural,NaN,Married,Star,9/12/2015,9/12/2015,NaN,Standard
16904,3,999990,Ryan,Anderson,Ryan Anderson,Canada,New Brunswick,Moncton,46.106617,-64.714267,B6P 6D0,female,College,Rural,NaN,Married,Star,6/10/2019,6/10/2019,NaN,Standard
16905,4,999991,Olivia,Cote,Olivia Cote,Canada,New Brunswick,Fredericton,45.950000,-66.652437,X3W 5N2,female,College,Suburban,NaN,Married,Star,7/20/2019,7/20/2019,NaN,Standard
16906,5,999992,Ella,Roy,Ella Roy,Canada,Ontario,Toronto,43.706878,-79.437412,P6D 6N2,male,College,Suburban,NaN,Single,Star,3/27/2021,3/27/2021,NaN,Standard
16907,6,999993,Elijah,Cook,Elijah Cook,Canada,British Columbia,Dawson Creek,55.701475,-120.181716,W6H 0Z7,female,College,Suburban,NaN,Married,Star,1/27/2015,1/27/2015,NaN,Standard
16908,7,999994,Ethan,Chan,Ethan Chan,Canada,Ontario,Ottawa,45.365906,-75.723181,B2F 3E1,female,College,Rural,NaN,Married,Star,5/5/2016,5/5/2016,NaN,Standard
16909,8,999995,Liam,Wong,Liam Wong,Canada,Ontario,Ottawa,45.471557,-75.704868,B3A 2R0,female,College,Suburban,NaN,Married,Star,3/2/2020,3/2/2020,NaN,Standard
16910,9,999996,Isabella,Ross,Isabella Ross,Canada,Ontario,Toronto,43.690489,-79.436758,B4W 4M6,female,Bachelor,Suburban,NaN,Single,Star,9/14/2018,9/14/2018,NaN,Standard
16911,10,999997,Grace,Miller,Grace Miller,Canada,New Brunswick,Moncton,46.067243,-64.729480,S5R 0X5,male,College,Urban,NaN,Married,Star,1/19/2020,1/19/2020,NaN,Standard
16912,11,999998,Noah,Thompson,Noah Thompson,Canada,Quebec,Quebec City,46.749897,-71.238050,K7T 9I9,male,Bachelor,Urban,NaN,Single,Star,1/6/2017,1/6/2017,NaN,Standard
16913,12,999999,Noah,Walker,Noah Walker,Canada,Alberta,Edmonton,53.549353,-113.509109,S7D 0V1,male,Bachelor,Rural,NaN,Single,Star,3/20/2016,3/20/2016,NaN,Standard
16914,13,100017,Grace,Fortin,Grace Fortin,Canada,British Columbia,Dawson Creek,55.751178,-120.264920,E0K 5I2,male,Master,Urban,NaN,Married,Star,4/11/2017,4/11/2017,NaN,Standard
16915,14,100011,Amelia,Ross,Amelia Ross,Canada,Ontario,Toronto,43.593187,-79.444335,W9D 4Q9,female,Bachelor,Suburban,NaN,Married,Star,5/1/2017,5/1/2017,NaN,Standard
16916,15,100012,Ethan,Thompson,Ethan Thompson,Canada,Quebec,Quebec City,46.759733,-71.141009,Y0C 7D6,male,Bachelor,Suburban,NaN,Single,Star,2/27/2019,2/27/2019,NaN,Standard
16917,16,100013,Layla,Young,Layla Young,Canada,Alberta,Edmonton,53.524829,-113.546357,L3S 9Y3,female,Bachelor,Rural,NaN,Married,Star,9/20/2017,9/20/2017,NaN,Standard
16918,17,100014,Amelia,Bennett,Amelia Bennett,Canada,New Brunswick,Moncton,46.051866,-64.825428,G2S 2B6,male,Bachelor,Rural,NaN,Married,Star,11/28/2020,11/28/2020,NaN,Standard
16919,18,100015,Benjamin,Wilson,Benjamin Wilson,Canada,Quebec,Quebec City,46.862970,-71.133444,B1Z 8T3,female,College,Urban,NaN,Married,Star,4/9/2020,4/9/2020,NaN,Standard
16920,19,100016,Emma,Martin,Emma Martin,Canada,British Columbia,Dawson Creek,55.720562,-120.160090,M4A 1E4,female,Master,Suburban,NaN,Single,Star,7/21/2020,7/21/2020,NaN,Standard

Rows with missing Customer Lifetime Value: 20

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
16901,0,999987,Layla,Murphy,Layla Murphy,Canada,New Brunswick,Fredericton,46.029263,-66.565150,R4H 2Y2,female,Bachelor,Urban,NaN,Single,Star,3/7/2017,3/7/2017,NaN,Standard
16902,1,999988,Jana,Parker,Jana Parker,Canada,Quebec,Montreal,45.573672,-73.523012,N6B 1N3,male,College,Rural,NaN,Single,Star,8/22/2017,8/22/2017,NaN,Standard
16903,2,999989,Ethan,Parker,Ethan Parker,Canada,Ontario,Trenton,44.075379,-77.550375,P8F 5C8,male,College,Rural,NaN,Married,Star,9/12/2015,9/12/2015,NaN,Standard
16904,3,999990,Ryan,Anderson,Ryan Anderson,Canada,New Brunswick,Moncton,46.106617,-64.714267,B6P 6D0,female,College,Rural,NaN,Married,Star,6/10/2019,6/10/2019,NaN,Standard
16905,4,999991,Olivia,Cote,Olivia Cote,Canada,New Brunswick,Fredericton,45.950000,-66.652437,X3W 5N2,female,College,Suburban,NaN,Married,Star,7/20/2019,7/20/2019,NaN,Standard
16906,5,999992,Ella,Roy,Ella Roy,Canada,Ontario,Toronto,43.706878,-79.437412,P6D 6N2,male,College,Suburban,NaN,Single,Star,3/27/2021,3/27/2021,NaN,Standard
16907,6,999993,Elijah,Cook,Elijah Cook,Canada,British Columbia,Dawson Creek,55.701475,-120.181716,W6H 0Z7,female,College,Suburban,NaN,Married,Star,1/27/2015,1/27/2015,NaN,Standard
16908,7,999994,Ethan,Chan,Ethan Chan,Canada,Ontario,Ottawa,45.365906,-75.723181,B2F 3E1,female,College,Rural,NaN,Married,Star,5/5/2016,5/5/2016,NaN,Standard
16909,8,999995,Liam,Wong,Liam Wong,Canada,Ontario,Ottawa,45.471557,-75.704868,B3A 2R0,female,College,Suburban,NaN,Married,Star,3/2/2020,3/2/2020,NaN,Standard
16910,9,999996,Isabella,Ross,Isabella Ross,Canada,Ontario,Toronto,43.690489,-79.436758,B4W 4M6,female,Bachelor,Suburban,NaN,Single,Star,9/14/2018,9/14/2018,NaN,Standard
16911,10,999997,Grace,Miller,Grace Miller,Canada,New Brunswick,Moncton,46.067243,-64.729480,S5R 0X5,male,College,Urban,NaN,Married,Star,1/19/2020,1/19/2020,NaN,Standard
16912,11,999998,Noah,Thompson,Noah Thompson,Canada,Quebec,Quebec City,46.749897,-71.238050,K7T 9I9,male,Bachelor,Urban,NaN,Single,Star,1/6/2017,1/6/2017,NaN,Standard
16913,12,999999,Noah,Walker,Noah Walker,Canada,Alberta,Edmonton,53.549353,-113.509109,S7D 0V1,male,Bachelor,Rural,NaN,Single,Star,3/20/2016,3/20/2016,NaN,Standard
16914,13,100017,Grace,Fortin,Grace Fortin,Canada,British Columbia,Dawson Creek,55.751178,-120.264920,E0K 5I2,male,Master,Urban,NaN,Married,Star,4/11/2017,4/11/2017,NaN,Standard
16915,14,100011,Amelia,Ross,Amelia Ross,Canada,Ontario,Toronto,43.593187,-79.444335,W9D 4Q9,female,Bachelor,Suburban,NaN,Married,Star,5/1/2017,5/1/2017,NaN,Standard
16916,15,100012,Ethan,Thompson,Ethan Thompson,Canada,Quebec,Quebec City,46.759733,-71.141009,Y0C 7D6,male,Bachelor,Suburban,NaN,Single,Star,2/27/2019,2/27/2019,NaN,Standard
16917,16,100013,Layla,Young,Layla Young,Canada,Alberta,Edmonton,53.524829,-113.546357,L3S 9Y3,female,Bachelor,Rural,NaN,Married,Star,9/20/2017,9/20/2017,NaN,Standard
16918,17,100014,Amelia,Bennett,Amelia Bennett,Canada,New Brunswick,Moncton,46.051866,-64.825428,G2S 2B6,male,Bachelor,Rural,NaN,Married,Star,11/28/2020,11/28/2020,NaN,Standard
16919,18,100015,Benjamin,Wilson,Benjamin Wilson,Canada,Quebec,Quebec City,46.862970,-71.133444,B1Z 8T3,female,College,Urban,NaN,Married,Star,4/9/2020,4/9/2020,NaN,Standard
16920,19,100016,Emma,Martin,Emma Martin,Canada,British Columbia,Dawson Creek,55.720562,-120.160090,M4A 1E4,female,Master,Suburban,NaN,Single,Star,7/21/2020,7/21/2020,NaN,Standard

In [92]:
# drop rows with missing Income OR Customer Lifetime Value
customers_clean = customers.dropna(subset=["Income", "Customer Lifetime Value"])

print("Original shape:", customers.shape)
print("After dropping:", customers_clean.shape)

# quick check that there are no more NaNs in these columns
print(customers_clean[["Income", "Customer Lifetime Value"]].isna().sum())

Original shape: (16921, 21)
After dropping: (16901, 21)
Income                     0
Customer Lifetime Value    0
dtype: int64

In [93]:
# Make customers_clean as customers for simplicity
customers = customers_clean
customers.shape

(16901, 21)

In [94]:
# select first 10 rows where CancellationDate is NaN
active_customers = customers[customers["CancellationDate"].isna()].head(10)


print("Active customers (first 10):")
display(active_customers)

Active customers (first 10):

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,J8Y 3Z5,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion
5,5,193662,Leatrice,Hanlin,Leatrice Hanlin,Canada,Yukon,Whitehorse,60.721188,-135.056840,Y2K 6R0,male,Bachelor,Rural,26262.0,Married,Star,5/7/2015,NaN,3844.57,Standard
6,6,927943,Hue,Sellner,Hue Sellner,Canada,Ontario,Toronto,43.653225,-79.383186,P5S 6R4,female,College,Urban,0.0,Single,Star,6/9/2017,NaN,3857.95,Standard
7,7,188893,Nakia,Cash,Nakia Cash,Canada,Ontario,Trenton,44.101128,-77.576309,K8V 4B2,male,Bachelor,Suburban,93272.0,Married,Star,12/8/2019,NaN,3861.49,Standard
8,8,852392,Arlene,Conterras,Arlene Conterras,Canada,Quebec,Montreal,45.501690,-73.567253,H2Y 2W2,female,Bachelor,Suburban,93272.0,Married,Star,5/30/2018,NaN,3861.49,Standard
9,9,866307,Dustin,Recine,Dustin Recine,Canada,Ontario,Toronto,43.653225,-79.383186,M8Y 4K8,male,Bachelor,Suburban,93272.0,Married,Star,10/14/2019,NaN,3861.49,Standard
10,10,932823,Jeremy,Dickason,Jeremy Dickason,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,female,Bachelor,Suburban,47199.0,Married,Star,3/17/2018,NaN,3863.31,Standard

In [95]:
# select first 10 rows where CancellationDate not NaN
inactive_customers = customers[customers["CancellationDate"].notna()].head(10)

# Display inactive customers
display(inactive_customers)

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
19,19,354730,Herbert,Cantabrana,Herbert Cantabrana,Canada,New Brunswick,Fredericton,45.963589,-66.643112,E3B 2H2,female,College,Urban,0.0,Married,Star,10/23/2017,1/2/2021,3885.46,Standard
31,31,201574,Trudy,Roscoe,Trudy Roscoe,Canada,Ontario,Ottawa,45.421532,-75.697189,K1F 2R2,female,Bachelor,Suburban,26605.0,Married,Star,4/6/2018,12/6/2018,3893.31,Standard
39,39,834891,Wendell,Besley,Wendell Besley,Canada,British Columbia,Vancouver,49.282730,-123.120740,V5R 1W3,female,Bachelor,Rural,30821.0,Married,Star,3/8/2020,4/18/2020,3911.12,Standard
45,45,733338,Raphael,Muskrat,Raphael Muskrat,Canada,Ontario,Thunder Bay,48.380894,-89.247681,K8T 5M5,female,Bachelor,Rural,66676.0,Married,Star,6/3/2019,2/3/2020,3919.37,Standard
51,51,869743,Sima,Parton,Sima Parton,Canada,Ontario,Sudbury,46.522099,-80.953033,M5V 1G5,female,Bachelor,Suburban,56480.0,Single,Star,11/10/2019,7/10/2020,3924.42,Standard
72,72,357549,Elisha,Furna,Elisha Furna,Canada,British Columbia,Whistler,50.116322,-122.957360,V6T 1Y8,female,Bachelor,Rural,60817.0,Single,Star,9/21/2021,5/21/2019,3964.73,Standard
77,77,265297,Ebonie,Radde,Ebonie Radde,Canada,Manitoba,Winnipeg,49.895138,-97.138374,R2C 0M5,female,Bachelor,Urban,39101.0,Married,Star,7/17/2021,3/17/2019,3978.67,Standard
83,83,283314,Vi,Scialdone,Vi Scialdone,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Suburban,54964.0,Married,Star,4/17/2016,2/3/2018,3991.73,Standard
84,84,322102,Hermelinda,Hilst,Hermelinda Hilst,Canada,British Columbia,Vancouver,49.282730,-123.120740,V5R 1W3,male,College,Suburban,0.0,Married,Star,8/19/2016,4/19/2017,3992.58,Standard

In [96]:
# We keep the NaN values in CancellationDate as they indicate active customers
# New Binary feature "IsActive" based on CancellationDate for customerDB
customers["IsActive"] = customers["CancellationDate"].isna().astype(int)

customers["IsActive"].value_counts()

IsActive
1    14611
0     2290
Name: count, dtype: int64

In [97]:
# percentage distribution
customers["IsActive"].value_counts(normalize=True).round(3) * 100

IsActive
1    86.5
0    13.5
Name: proportion, dtype: float64

In [98]:
# Min and Max Values of each column
numeric_cols = customers.select_dtypes(include=["number"]).columns

min_max = customers[numeric_cols].agg(["min", "max"]).T
min_max

                                   min            max
index                         0.000000   16900.000000
Loyalty                  100018.000000  999986.000000
Latitude                     42.984924      60.721188
Longitude                  -135.056840     -52.712578
Income                        0.000000   99981.000000
Customer Lifetime Value    1898.010000   83325.380000
IsActive                      0.000000       1.000000

In [99]:
zero_income = customers[customers["Income"] == 0]
print("Number of customers with Income = 0:", zero_income.shape[0])
display(zero_income.head())

Number of customers with Income = 0: 4273

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType,IsActive
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard,1
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard,0
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard,1
6,6,927943,Hue,Sellner,Hue Sellner,Canada,Ontario,Toronto,43.653225,-79.383186,P5S 6R4,female,College,Urban,0.0,Single,Star,6/9/2017,NaN,3857.95,Standard,1
13,13,988178,Andre,Cotugno,Andre Cotugno,Canada,Quebec,Montreal,45.501690,-73.567253,H4G 3T4,male,College,Rural,0.0,Single,Star,10/13/2016,NaN,3871.07,Standard,1

In [100]:
# Show all columns of zero_income
pd.set_option('display.max_columns', None)
zero_income.head()

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType,IsActive
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard,1
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard,0
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard,1
6,6,927943,Hue,Sellner,Hue Sellner,Canada,Ontario,Toronto,43.653225,-79.383186,P5S 6R4,female,College,Urban,0.0,Single,Star,6/9/2017,NaN,3857.95,Standard,1
13,13,988178,Andre,Cotugno,Andre Cotugno,Canada,Quebec,Montreal,45.501690,-73.567253,H4G 3T4,male,College,Rural,0.0,Single,Star,10/13/2016,NaN,3871.07,Standard,1

In [101]:
# Check uniqueness of Loyalty in customers
n_rows = customers.shape[0]
n_unique_ids = customers["Loyalty"].nunique()

print("Rows in CustomerDB:", n_rows)
print("Unique Loyalty IDs:", n_unique_ids)

if n_rows == n_unique_ids:
    print(" Loyalty is unique per row.")
else:
    print(" Some Loyalty values are duplicated!")
    print ("There are", n_rows - n_unique_ids - 1, "duplicated Loyalty values.")

Rows in CustomerDB: 16901
Unique Loyalty IDs: 16737
 Some Loyalty values are duplicated!
There are 163 duplicated Loyalty values.

In [102]:
name_counts = (
    customers.groupby(["First Name", "Last Name"])["Loyalty"]
    .nunique()
    .reset_index(name="n_ids")
)

# names linked to more than one Loyalty
duplicates_by_name = name_counts[name_counts["n_ids"] > 1]

print("Customers with the same name but different Loyalty IDs:", duplicates_by_name.shape[0])
display(duplicates_by_name.head(20))

Customers with the same name but different Loyalty IDs: 0

Empty DataFrame
Columns: [First Name, Last Name, n_ids]
Index: []

In [103]:
# Check uniqueness of First Name and Last Name per Loyalty ID
# Count unique first and last names per Loyalty ID
id_name_counts = (
    customers.groupby("Loyalty")[["First Name", "Last Name"]]
    .nunique()
    .reset_index()
)

# Loyalty IDs linked to more than one unique first or last name
inconsistent_ids = id_name_counts[
    (id_name_counts["First Name"] > 1) | (id_name_counts["Last Name"] > 1)
]

print("Loyalty values linked to multiple different names:", inconsistent_ids.shape[0])
display(inconsistent_ids.head(20))

Loyalty values linked to multiple different names: 163

      Loyalty  First Name  Last Name
41     101902           2          2
113    106001           2          2
122    106509           2          2
223    112142           2          2
271    114414           2          2
472    126100           2          2
482    126490           2          2
559    130331           2          2
651    135421           2          2
1025   156031           2          2
1486   181082           2          2
1715   193662           2          2
1815   198499           2          2
1851   200519           2          2
1974   206050           2          2
2010   208241           2          2
2016   208485           2          2
2152   215508           2          2
2312   224676           2          2
2517   237094           2          2

In [104]:
# Print some of the inconsistent IDs
print("Some inconsistent Loyalty IDs:")
display(customers[customers["Loyalty"].isin(inconsistent_ids["Loyalty"])].head(10))

Some inconsistent Loyalty IDs:

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType,IsActive
5,5,193662,Leatrice,Hanlin,Leatrice Hanlin,Canada,Yukon,Whitehorse,60.721188,-135.056840,Y2K 6R0,male,Bachelor,Rural,26262.0,Married,Star,5/7/2015,NaN,3844.57,Standard,1
123,123,746226,Theodora,Sampieri,Theodora Sampieri,Canada,British Columbia,Whistler,50.116322,-122.957360,V6T 1Y8,female,Bachelor,Urban,43177.0,Married,Star,1/17/2021,NaN,4089.04,Standard,1
141,141,279419,Reyes,Sobczak,Reyes Sobczak,Canada,British Columbia,West Vancouver,49.328625,-123.160190,V6V 8Z3,female,College,Urban,0.0,Single,Star,7/3/2016,NaN,4117.37,Standard,1
161,161,354438,Maricela,Veals,Maricela Veals,Canada,Quebec,Montreal,45.501690,-73.567253,H2T 2J6,male,College,Rural,0.0,Married,Star,9/1/2021,NaN,4167.09,Standard,1
204,204,719633,Elnora,Holzmiller,Elnora Holzmiller,Canada,British Columbia,Victoria,48.428421,-123.365650,V10 6T5,male,Bachelor,Suburban,27608.0,Divorced,Star,12/3/2019,NaN,4250.78,Standard,1
243,243,156031,Carter,Balette,Carter Balette,Canada,Quebec,Montreal,45.501690,-73.567253,H2Y 4R4,female,Bachelor,Urban,72531.0,Married,Star,12/19/2017,8/19/2018,4328.37,Standard,0
370,370,354438,Marla,Heinicke,Marla Heinicke,Canada,Ontario,Toronto,43.653225,-79.383186,M8Y 4K8,male,Bachelor,Rural,34640.0,Married,Star,7/11/2015,NaN,4530.53,Standard,1
538,538,411523,Jesenia,Whitlock,Jesenia Whitlock,Canada,Alberta,Edmonton,53.544388,-113.490930,T9G 1W3,male,Bachelor,Urban,42165.0,Single,Star,10/18/2019,NaN,4747.73,Standard,1
550,550,615439,Lon,Castor,Lon Castor,Canada,Manitoba,Winnipeg,49.895138,-97.138374,R2C 0M5,male,Doctor,Rural,14957.0,Single,Star,2/12/2016,NaN,4763.33,Standard,1
575,575,536021,Pierre,Mcmurdie,Pierre Mcmurdie,Canada,Ontario,Toronto,43.653225,-79.383186,M8Y 4K8,female,Bachelor,Suburban,25813.0,Divorced,Star,5/8/2019,NaN,4784.96,Standard,1

In [105]:
# Print the rows specific Loyalty ID
display(customers[customers["Loyalty"] == 101902])

,index,Loyalty,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType,IsActive
1646,1646,101902,Hans,Schlottmann,Hans Schlottmann,Canada,Ontario,London,42.984924,-81.245277,M5B 3E4,female,College,Rural,0.0,Married,Aurora,1/7/2020,NaN,6265.34,Standard,1
2668,2668,101902,Yi,Nesti,Yi Nesti,Canada,Ontario,Toronto,43.653225,-79.383186,M8Y 4K8,female,Bachelor,Urban,79090.0,Married,Aurora,3/19/2020,NaN,8609.16,Standard,1

In [106]:
# get all Loyalty IDs that have inconsistent names
conflict_ids = inconsistent_ids["Loyalty"]

# remove them from customers
customers_clean = customers[~customers["Loyalty"].isin(conflict_ids)].copy()

print("Original customers:", customers.shape[0])
print("Clean customers:", customers_clean.shape[0])
print("Dropped conflicted customers:", customers.shape[0] - customers_clean.shape[0])

Original customers: 16901
Clean customers: 16574
Dropped conflicted customers: 327

In [107]:
# Make customers_clean as customers for simplicity
customers = customers_clean
customers.shape

(16574, 22)

In [108]:
# Check for for values in longitude and latitude. It should be within valid ranges.
#The min and max values for latitude are -90 and 90, respectively. For longitude, the min and max values are -180 and 180, respectively.
print("Latitude range:", customers["Latitude"].min(), "to", customers["Latitude"].max())
print("Longitude range:", customers["Longitude"].min(), "to", customers["Longitude"].max())

Latitude range: 42.984924 to 60.721188
Longitude range: -135.05684 to -52.712578

In [109]:
# Check the categorical columns for unexpected values
for col in ["Gender", "Education", "Marital Status", "Location Code", "LoyaltyStatus"]:
    if col in customers.columns:
        print(f"\n{col} categories:")
        print(customers[col].value_counts(dropna=False))

Gender categories:
Gender
female    8335
male      8239
Name: count, dtype: int64

Education categories:
Education
Bachelor                10378
College                  4198
High School or Below      772
Doctor                    724
Master                    502
Name: count, dtype: int64

Marital Status categories:
Marital Status
Married     9646
Single      4441
Divorced    2487
Name: count, dtype: int64

Location Code categories:
Location Code
Suburban    5608
Rural       5557
Urban       5409
Name: count, dtype: int64

LoyaltyStatus categories:
LoyaltyStatus
Star      7598
Nova      5611
Aurora    3365
Name: count, dtype: int64

In [110]:
# Summary statistics for Income and Customer Lifetime Value
for col in ["Income", "Customer Lifetime Value"]:
    if col in customers.columns:
        print(f"\n{col} min:", customers[col].min())
        print(f"{col} max:", customers[col].max())
        print(f"{col} mean:", customers[col].mean())
        print(f"{col} median:", customers[col].median())

Income min: 0.0
Income max: 99981.0
Income mean: 37739.986786533125
Income median: 34137.0

Customer Lifetime Value min: 1898.01
Customer Lifetime Value max: 83325.38
Customer Lifetime Value mean: 7986.494715819959
Customer Lifetime Value median: 5780.18

In [111]:
# Check for countries
print("Unique countries:", customers["Country"].nunique())
print(customers["Country"].value_counts().head(10))

Unique countries: 1
Country
Canada    16574
Name: count, dtype: int64

In [112]:
# Check for postal codes
print("Unique postal codes:", customers["Postal code"].nunique())
print(customers["Postal code"].value_counts().head(10))

#Check if Postal code has entries with more or less than 7 characters
long_postal_codes = customers[customers["Postal code"].astype(str).str.len() > 7]
print("Postal codes with more than 7 characters:", long_postal_codes.shape[0])
short_postal_codes = customers[customers["Postal code"].astype(str).str.len() < 7]
print("Postal codes with less than 7 characters:", short_postal_codes.shape[0])

Unique postal codes: 55
Postal code
V6E 3D9    906
V5R 1W3    676
V6T 1Y8    579
V6E 3Z3    530
M2M 7K8    529
H2T 9K8    497
P1J 8T7    493
K8V 4B2    482
G1B 3L5    472
H2T 2J6    442
Name: count, dtype: int64
Postal codes with more than 7 characters: 0
Postal codes with less than 7 characters: 0

In [113]:
# Delete all customers with invalid Loyalty IDs inside flight data
valid_ids = set(customers_clean["Loyalty"])
print("Valid customer IDs:", len(valid_ids))

Valid customer IDs: 16574

In [114]:
# Filter flights to keep only those with valid Loyalty IDs
flights_clean = flights[flights["Loyalty"].isin(valid_ids)].copy()

print("Original flights:", flights.shape[0])
print("Flights after filtering:", flights_clean.shape[0])
print("Dropped flights:", flights.shape[0] - flights_clean.shape[0])

Original flights: 608436
Flights after filtering: 596664
Dropped flights: 11772

In [115]:
# Make flights_clean as flights for simplicity
flights = flights_clean
flights.shape

(596664, 10)

In [116]:
# Print head of flights
display(flights.head())

,Loyalty,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
0,413052,2021,12,12/1/2021,2.0,2.0,9384.0,938.0,0.0,0.0
1,464105,2021,12,12/1/2021,0.0,0.0,0.0,0.0,0.0,0.0
2,681785,2021,12,12/1/2021,10.0,3.0,14745.0,1474.0,0.0,0.0
3,185013,2021,12,12/1/2021,16.0,4.0,26311.0,2631.0,3213.0,32.0
4,216596,2021,12,12/1/2021,9.0,0.0,19275.0,1927.0,0.0,0.0

In [117]:
# Convert NumFlights and NumFlightsWithCompanions to integer type
flights["NumFlights"] = flights["NumFlights"].astype(int)
flights["NumFlightsWithCompanions"] = flights["NumFlightsWithCompanions"].astype(int)

# print the datatypes of flights
print("Flights dtypes:")
print(flights.dtypes)

display(flights.head())

Flights dtypes:
Loyalty                       int64
Year                          int64
Month                         int64
YearMonthDate                object
NumFlights                    int64
NumFlightsWithCompanions      int64
DistanceKM                  float64
PointsAccumulated           float64
PointsRedeemed              float64
DollarCostPointsRedeemed    float64
dtype: object

,Loyalty,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
0,413052,2021,12,12/1/2021,2,2,9384.0,938.0,0.0,0.0
1,464105,2021,12,12/1/2021,0,0,0.0,0.0,0.0,0.0
2,681785,2021,12,12/1/2021,10,3,14745.0,1474.0,0.0,0.0
3,185013,2021,12,12/1/2021,16,4,26311.0,2631.0,3213.0,32.0
4,216596,2021,12,12/1/2021,9,0,19275.0,1927.0,0.0,0.0

In [118]:
# define processed data directory
processed_dir = Path("../data/processed")
processed_dir.mkdir(parents=True, exist_ok=True)

# export cleaned customers
customers.to_csv(processed_dir / "customers_clean.csv", index=False)

# export cleaned flights
flights.to_csv(processed_dir / "flights_clean.csv", index=False)

print("Exported files:")
print(" -", processed_dir / "customers_clean.csv")
print(" -", processed_dir / "flights_clean.csv")

Exported files:
 - ../data/processed/customers_clean.csv
 - ../data/processed/flights_clean.csv